*{
  background-color: dimgray
}
.header-text{
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 2px lightgray solid;
  width: 20%;
  margin:auto;
}
.map{
  width: 70%;
  margin: auto;
}
svg {
  background-image: url('../img/world.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  max-width: 900px;
}
path {
  fill: transparent;
  cursor: pointer;
  transition: fill 0.2s
}
svg a:focus,
svg a:hover {
  outline: none;
}
svg a:focus path,
svg a:hover path {
  fill: rgba(30,222,121, 0.25);
  cursor: pointer;
}
.github-button {
    opacity: .2;
    transition: opacity 300ms;
    position: absolute;
    top: .5em;
    left: .5em;
}
